<ul>
    <li>
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <span class="media media-icon media-page inline-block pull-left mr-lvl3">
                            <img src="https://api.url2png.com/v6/P52656AFFB484B/0fd37fedcbca8408e1483a5e998660bc/png/?thumbnail_max_height=300&thumbnail_max_width=400&url=https%3A%2F%2Fapp.clickfunnels.com%2Ffor_domain%2Flouisitvn.clickfunnels.com%2Fproduct-features%3Fupdated_at%3De5a6ca52f456b7e941d419efd5835a80v2%26track%3D0%26preview%3Dtrue&viewport=1024x768" />
                        </span>
                        <h4 class="text-semibold">
                            <a href="">Main Page</a>
                        </h4>
                        <p class="phone-hide">last updated about 12 hours ago</p>
                        <p class="text-dim phone-hide"><span class="text-semibold">100%</span> of traffic</p>
                        <p class="phone-show">
                            <span class="mr-10">No rating yet</span>
                            <span class="text-semibold">30</span> Subscribers
                        </p>
                        <p class="phone-show mt-10">
                            <span class="text-semibold">0.0%</span> Open rate ·
                            <span class="text-semibold">0.0%</span> Click rate
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-right">
                <button type="button" class="btn btn-default m-12 mt-0">Preview</button>
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                    <button type="button" class="btn btn-default">Edit</button>
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-default dropdown-toggle dropdown-toggle-only p-11" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop1">
                            <a class="dropdown-item" href="#">Settings</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>
