<ul class="menu menu-steps">
    <li>
        <a href="/index.php?page=funnels/edit" class="{{ step == '1' ? 'current' : '' }}">
            <i class="ion-pricetags"></i>
            <label class="">
                Products Features
            </label>
            <div class="desc text-dim">
                Products Features
            </div>
        </a>
    </li>
    <li>
        <a href="" class="">
            <i class="ion-email"></i>
            <label class="">
                Option-In
            </label>
            <div class="desc text-dim">
                Option-In
            </div>
        </a>
    </li>
    <li>
        <a href="">
            <i class="ion-checkmark-round"></i>
            <label>
                Thank You
            </label>
            <div class="desc text-dim">
                Thank You
            </div>
        </a>
    </li>
</ul>

<div class="text-center mt-lvl4">
    <button type="button" class="btn btn-default btn-icon-left"><i class="ion-plus-round"></i> Add New Step </button>
</div>
