<label class="custom-control custom-checkbox pull-left mb-20">
    <input name="ids[]" value="{{ id }}" type="checkbox" class="custom-control-input check-item">
    <span class="custom-control-indicator"></span>
</label>
