<ul>
    <li>
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-8">
                        {% include 'helpers/_datalist_row_checkbox.twig' %}
                        <span class="media media-icon media-normal inline-block pull-left mr-lvl3">
                            <i class="ion-person"></i>
                        </span>
                        <h4 class="text-semibold">
                            <a href="">I'm bot</a>
                        </h4>
                        <p class="phone-hide">louisitvn@gmail.com</p>
                        <p class="phone-show">
                            <span class="mr-10">No rating yet</span>
                            <span class="text-semibold">30</span> Subscribers
                        </p>
                        <p class="phone-show mt-10">
                            <span class="text-semibold">0.0%</span> Open rate ·
                            <span class="text-semibold">0.0%</span> Click rate
                        </p>
                    </div>
                    <div class="col-md-4 phone-hide">
                        <div class="col-data pull-left">
                            <h4 class="text-semibold">1</h4>
                            <p class="text-dim">Email List</p>
                        </div>
                        <div class="col-data pull-left">
                            <h4 class="text-semibold">$25</h4>
                            <p class="text-dim">Purchases</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-right">
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                    <button type="button" class="btn btn-default">Edit</button>
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-default dropdown-toggle dropdown-toggle-only p-lvl1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop1">
                            <a class="dropdown-item" href="#">Manage contacts</a>
                            <a class="dropdown-item" href="#">Settings</a>
                            <a class="dropdown-item" href="#">Import</a>
                            <a class="dropdown-item" href="#">Export</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-8">
                        {% include 'helpers/_datalist_row_checkbox.twig' %}
                        <span class="media media-icon media-normal inline-block pull-left mr-lvl3">
                            <img src="/templates/patterns/assets/image/avatar.jpg">
                        </span>
                        <h4 class="text-semibold">
                            <a href="">Unknown Name</a>
                        </h4>
                        <p class="phone-hide">Anglea@yahoo.com</p>
                        <p class="phone-show">
                            <span class="mr-10">No rating yet</span>
                            <span class="text-semibold">30</span> Subscribers
                        </p>
                        <p class="phone-show mt-10">
                            <span class="text-semibold">32.0%</span> Open rate ·
                            <span class="text-semibold">68.3%</span> Click rate
                        </p>
                    </div>
                    <div class="col-md-4 phone-hide">
                        <div class="col-data pull-left">
                            <h4 class="text-semibold">0</h4>
                            <p class="text-dim">Email List</p>
                        </div>
                        <div class="col-data pull-left">
                            <h4 class="text-semibold">$0</h4>
                            <p class="text-dim">Purchases</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-right">
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                    <button type="button" class="btn btn-default">Edit</button>
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-default dropdown-toggle dropdown-toggle-only p-lvl1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop1">
                            <a class="dropdown-item" href="#">Manage contacts</a>
                            <a class="dropdown-item" href="#">Settings</a>
                            <a class="dropdown-item" href="#">Import</a>
                            <a class="dropdown-item" href="#">Export</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-8">
                        {% include 'helpers/_datalist_row_checkbox.twig' %}
                        <span class="media media-icon media-normal inline-block pull-left mr-lvl3">
                            <i class="ion-person"></i>
                        </span>
                        <h4 class="text-semibold">
                            <a href="">Someone!</a>
                        </h4>
                        <p class="phone-hide">random21@gmail.com</p>
                        <p class="phone-show">
                            <span class="mr-10">No rating yet</span>
                            <span class="text-semibold">30</span> Subscribers
                        </p>
                        <p class="phone-show mt-10">
                            <span class="text-semibold">0.0%</span> Open rate ·
                            <span class="text-semibold">0.0%</span> Click rate
                        </p>
                    </div>
                    <div class="col-md-4 phone-hide">
                        <div class="col-data pull-left">
                            <h4 class="text-semibold">1</h4>
                            <p class="text-dim">Email List</p>
                        </div>
                        <div class="col-data pull-left">
                            <h4 class="text-semibold">$25</h4>
                            <p class="text-dim">Purchases</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-right">
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                    <button type="button" class="btn btn-default">Edit</button>
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-default dropdown-toggle dropdown-toggle-only p-lvl1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop1">
                            <a class="dropdown-item" href="#">Manage contacts</a>
                            <a class="dropdown-item" href="#">Settings</a>
                            <a class="dropdown-item" href="#">Import</a>
                            <a class="dropdown-item" href="#">Export</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>
{% include 'helpers/_datalist_footer.twig' %}
