{% extends "patterns/layouts/base.twig" %}

{% block page_header %}
    <h1 class="text-semibold mr-auto text-center">Upload progress</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 upload-progress-bar text-center text-semibold"> 100% </div>
    </div>
{% endblock %}

