<form>
    <h2>Who are you sending to?</h2>
    {% include ux('helpers/form_controls/control.twig') with {
        type: 'dataselect',
        name: 'list_uid',
        value: '',
        options: [
            {'text': 'Choose a list', 'value': ''},
            {'text': 'VIP list 88', 'value': '1', 'desc': '100 subscribers'},
            {'text': 'Normal list 1970', 'value': '2', 'desc': '23 subscribers'}
        ]
    } %}

    <div
        class="ajax-condition-box"
        data-control="[name='list_uid']"
        data-url="/index.php?page=automations/_recipients_list_option"
    ></div>

</form>
